<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Vantist"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalManagementApplication"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.hospitalmanagementapplication.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false">
        </activity>
        <activity android:name=".userDetailsActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ForgetPasswordActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ProfileActivity"
            android:exported="false">
        </activity>
        <activity android:name=".AllUserActivity"
            android:exported="false">
        </activity>
        <activity android:name=".UpdatePositionActivity"
            android:exported="false">
        </activity>
        <activity android:name=".doctor.DoctorHomeActivity"
            android:exported="false">
        </activity>
        <activity android:name=".clerk.ClerkDashboardActivity"
            android:exported="false">
        </activity>
        <activity android:name=".doctor.DoctorAvailableAppointmentActivity"
            android:exported="false">
        </activity>
        <activity android:name=".BookingActivity"
            android:exported="false">
        </activity>
        <activity android:name=".SelectDoctorActivity"
            android:exported="false">
        </activity>
        <activity android:name=".resetPasswordActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ViewAppointmentActivity"
            android:exported="false">
        </activity>
        <activity android:name=".doctor.DoctorViewAppointment"
            android:exported="false">
        </activity>
        <activity android:name=".doctor.DoctorDisableAppointmentActivity"
            android:exported="false">
        </activity>
        <activity android:name=".doctor.DoctorInformationActivity"
            android:exported="false">
        </activity>
        <activity android:name=".addHospitalActivity"
            android:exported="false">
        </activity>
        <activity android:name=".allHospitalActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ViewHospitalActivity"
            android:exported="false">
        </activity>
        <activity android:name=".AllIllnessActivity"
            android:exported="false">
        </activity>
        <activity android:name=".AddIllnessActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ViewIllnessActivity"
            android:exported="false">
        </activity>
        <activity android:name=".AddAnnouncement"
            android:exported="false">
        </activity>
        <activity android:name=".RedesignActivity"
            android:exported="false">
        </activity>
        <activity android:name=".DoctorAddPDF"
        android:exported="false">
    </activity>


    </application>

</manifest>